


.text-container {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 35s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (max-width:480px) {
    @keyframes marquee {
      0% {
        transform: translateX(25%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
